{% extends "WbiForumBundle::layout.html.twig" %}

{% block wbiforum_body %}
<div class="page-header">
    <h1>Liste des forums</h1>
</div>

 
<hr >
    <tbody>
    {% for domain in entities %}
    <section class="span3">
   <div class="hero-unit">
    
     <tr>
            <td><p class="text-center">{{ domain.label }}</p></td>
            
            <td><hr ></td>
   {% for underdomain in domain.underdomains %}
            <td><p class="text-left"><a href="{{ path('underdomain_show', { 'id': underdomain.id }) }}">{{ underdomain.label }}</a></p></td>
  {% endfor %}
            <td><p><a class="btn btn-success" href="#">View details »</a></p></td>
   </tr>

         
    
</div>
  </section>
     
    {% endfor %}
    </tbody>

             
             {% endblock %}