{% extends "WbiForumBundle::layout.html.twig" %}

{% block wbiforum_body %}
<h1>Posts creation</h1>

<form action="{{ path('posts_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('posts') }}">
            Back to the list
        </a>
    </li>
</ul>
 {% endblock %}